[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/grabs/moodle-local_adminer
	branch = master
[submodule "local/boostnavigation"]
	path = local/boostnavigation
	url = https://github.com/moodleuulm/moodle-local_boostnavigation
	branch = master
[submodule "theme/boost_var_01"]
	path = theme/boost_var_01
	url = https://github.com/malinz/boost_var_01
	branch = master
[submodule "theme/classic_var_01"]
	path = theme/classic_var_01
	url = https://github.com/malinz/classic_var_01
	branch = master
[submodule "mod/attendanceregister"]
	path = mod/attendanceregister
	url = https://github.com/CinecaElearning/moodle-mod_attendanceregister.git
	branch = master
[submodule "mod/checklist"]
	path = mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
	branch = master
[submodule "mod/hotpot"]
	path = mod/hotpot
	url = https://github.com/gbateson/moodle-mod_hotpot.git
	branch = master
